---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Arimo", sans-serif;
$base-font-size:   100%;
$base-font-weight: normal;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 150%;

// TODO: may not need bold at all
$hero-font-family: "ClarendonBT-Bold",serif;
$hero-font-style: normal;
$hero-font-weight: normal;

$heading-font-family: "ClarendonBT-Roman",serif;
$heading-font-style: normal;
$heading-font-weight: normal;

$sub-heading-font-family: "ClarendonBT-Light",serif;
$sub-heading-font-style: normal;
$sub-heading-font-weight: normal;

$content-width: 64em;

$spacing-unit:     1.5em;

$brand-color-black: #3b3b3b;
$brand-color-grey:  #808080;
$brand-color-blue:  #00ffcc;

$text-color:       #111;
$background-color: #fff;
$brand-color:      $brand-color-black;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$brand-color-blue-light: lighten($brand-color-blue, 40%);
$brand-color-blue-dark: darken($brand-color-blue, 25%);

$white-color:      #fff;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "font",
        "vendor/cssgram/cssgram",
        "base",
        "header",
        "footer",
        "home",
        "intro",
        "approach",
        "jobs",
        "contact",
        "bio",
        "blockquote",
        "about",
        "ie",
        "animation",
        "team-grid",
        "wireframe"
;
