---
layout: default
linkedin: https://www.linkedin.com/company/creative-staffing-international-llc/
email: resumes@whostaffing.com 
---

<div class="stage">
  <div class="hero">
    <h1>We wanted a better staffing company, so we built one.</h1>
    <p>We know the transactional nature of recruiting is frustrating. We’re changing all that. We believe that staffing should be about relationships with people, and we practice what we preach.</p>
  </div>
</div>
<div class="team-grid">
  {% for person in site.data.team.team %}
    <figure class="team-card">
      <img src="/assets/img/bio/{{ person.headshot }}" alt="" class="team-card__img">
      <figcaption class="team-card__content">
        <h2 class='team-card__name'>{{ person.name }}</h2>
        <h2 class='team-card__title'>{{ person.title }}</h2>
        <ul class="team-card__social-list">
          <li class='team-card__social-item team-card__social-item--linkedin'>
            {% include icon.html icon="linkedin" url=person.linkedin %}
          </li>
          <li class='team-card__social-item team-card__social-item--mail'>
            {% include icon.html icon="envelope" url=person.email %}
          </li>
        </ul>
      </figcaption>
    </figure>
  {% endfor %}
  <figure class="team-card">
    <img class='team-card__img team-card__img--border' src="/assets/svg/Now-Hiring.svg" alt="">
      <figcaption class="team-card__content">
        <h2 class='team-card__name'>You?</h2>
        <h2 class='team-card__title'>Who is hiring</h2>
        <ul class="team-card__social-list">
          <li class='team-card__social-item team-card__social-item--linkedin'>
            {% include icon.html icon="linkedin" url=page.linkedin %}
          </li>
          <li class='team-card__social-item team-card__social-item--mail'>
            {% include icon.html icon="envelope" url=page.email %}
          </li>
        </ul>
      </figcaption>
  </figure>
</div>
