---
layout: default
---

<div id="top">
  <div class="hero">
    <h1>Instinctive hiring for leaders and builders.</h1>
    <h2>Build a sustainable business fueled by the right people.</h2>
  </div>
  <figure class="slumber">
    <img src="/assets/img/Approach 1.jpg">
  </figure>

</div>

<div id="stage">
  <div class="hero">
    <h1>At Who, we are driven by one core promise: to grow our business community through strong relationships and successful connections.</h1>
  </div>
</div>

<div id="testimonial">
  <div class="hero">
    <article>
      <blockquote>
        <p>They understand our culture and present candidates that make our decisions easy.</p>
        <cite>- Steve E., VP of Recruiting</cite>
      </blockquote>
      <p>We focus on building and maintaining our network of top businesses and talent, creating partnerships that drive positive change and mutual growth.</p>
    </article>
  </div>
</div>

<div id="deck">
  <figure class="slumber">
    <img src="/assets/img/Approach-2.jpg">
  </figure>
  <div class="hero">
    <h1>A passionate culture driven from within</h1>
    <a class="cta" href="/about">meet the team</a>
  </div>
</div>

<div id="testimonial">
  <div class="hero">
    <article>
      <p>Whatever stage your business is in, we are there with you. From long-term enterprise growth strategies to startups experiencing rapid acceleration, we'll find the right people to help you get where you're going.</p>
      <blockquote>
        <p>Who is an extension of my own team looking for talent for me.</p>
        <cite>- Rick W., President</cite>
      </blockquote>
    </article>
  </div>
</div>
