---
layout: default
---

<div class="contact-info">
{% include contact-sprite.svg %}
  <div>
    {% include icon.html icon="house" %}
    {% include vcard.html %}
  </div>
  <div>
    {% include icon.html icon="phone" %}
    <p><a class="tel" href="tel:+14103566800">(410) 356-6800</a></p>
  </div>
  <div>
    {% include icon.html icon="mail" %}
    <p><a class="tel" href="mailto:info@whostaffing.com">info@whostaffing.com</a></p>
  </div>
</div>
