---
layout: default
---

  <div id="top">
    <div class="hero">
      <h1>Because who matters.</h1>
      <h2>A staffing company with one driving principle: People matter most.</h2>
    </div>
      <figure class="slumber">
        <img src="/assets/img/Homepage 1.jpg">
      </figure>
    <div class="hero">
      <h1>The future of your business is powered by people.</h1>
      <p>We create strong partnerships between exceptional talent and the companies we believe in to drive positive change and mutual growth.</p>
      <a class="cta" href="/approach">see our approach</a>
    </div>
  </div>

  <div id="middle">
    <div class="hero-wrapper">
      <div class="hero">
        <h1>Find work that takes you places</h1>
        <p>We shape bold careers for people who make great companies exceptional.</p>
        <a class="cta" href="/jobs">shop dream jobs</a>
      </div>
    </div>
  </div>

  <div id="bottom">
    <figure class="slumber">
      <img src="/assets/img/Homepage-2.jpg">
    </figure>
    <div class="hero">
      <h1>Driven by relationships</h1>
      <p>An ambitious team dedicated to being a resource and mentor to those we serve.</p>
      <a class="cta" href="/about">meet the team</a>
    </div>
  </div>
