<footer>
  {% include sprite.svg %}
    <div>
      <small><a href="http://madewithloveinbaltimore.org">Made with &#9825; in Baltimore.</a></small>
    </div>
    <ul>
      <li>
        {% include icon.html icon="facebook" %}
      </li>
      <li>
        {% include icon.html icon="linkedin" %}
      </li>
      <li>
        {% include icon.html icon="twitter" %}
      </li>
      <li>
        {% include icon.html icon="instagram" %}
      </li>
    </ul>
</footer>
