<div class="vcard">
  <p class="adr">
    <span class="street-address">10055 Red Run Boulevard, Suite 220</span><br>
    <span class="locality">Owings Mills,<span>
    <abbr class="region" title="Maryland">MD</abbr>
    <span class="postal-code">21117</span>
  </p>
</div>
