---
layout: gigs
---

<div class="csi-page-container">
  <!-- top navigation bar -->
  <div id="topNavBar" class="is_stuck" style="position: fixed; top: 0px; width: 1194px;">
    <div class="csi-navbar">
      <div class="visible-md-block visible-lg-block">
        <a id="lbtnWhoMatters" href="http://whostaffing.com/index.php#whomatters"> <span>Who Matters</span> </a>
        <a id="lbtnOurServices" href="http://whostaffing.com/index.php#ourservices"> <span>Who Are You</span> </a>
        <a id="lbtnOurTeam" href="http://whostaffing.com/index.php#whoweare"> <span>Who We Are</span> </a>
        <a id="lbtnHowDifferent" href="http://whostaffing.com/index.php#howdifferent"> <span>Who Cares</span> </a> <span class="csi-separator">&nbsp;</span>
        <a class="csi-highlight" href="http://whostaffing.com/gigs.php"> <span>Job Postings</span> </a>
        <a class="csi-highlight csi-modal-show-workwithus" href="javascript:void(0)"> <span>Work With Us</span> </a>
      </div>
      <div class="visible-xs-block visible-sm-block csi-navbar-mobile"> <span class="csi-navbar-showmobilemenu glyphicon glyphicon-menu-hamburger"></span> </div>
    </div>
    <div class="visible-md-block visible-lg-block csi-navbar-title">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="csi-navbar-title-content">
              <div class="csi-navbar-title-logo"> <img src="assets/who-logo-med.png"> </div>
              <div class="csi-navbar-title-text"> <span>Gig</span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="position: static; width: 1194px; height: 177px; display: block; vertical-align: baseline; float: none;"></div>
  <div id="mobileMenu" class="jqmWindow jqm-init">
    <div class="csi-navbar">
      <div class="csi-navbar-mobile"> <span class="jqmClose glyphicon glyphicon-remove"></span> </div>
    </div>
    <div class="csi-mobilemenu-content">
      <div> <a href="http://whostaffing.com/index.php">Home</a> </div>
      <div> <a href="http://whostaffing.com/gigs.php">Job Postings</a> </div>
      <div> <a href="javascript:void(0)" class="csi-modal-show-workwithus">Work With Us</a> </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      // initialize top nav bar stickiness
      $('#topNavBar').stick_in_parent();
      // initialize mobile menu modal
      $('#mobileMenu').jqm({
        modal: true,
        overlay: 85,
        trigger: '.csi-navbar-showmobilemenu'
      });
      $('#mobileMenu .csi-mobilemenu-content a').on('click', function(e) {
        $('#mobileMenu').jqmHide();
      });
    });
  </script>
  <!-- job listing -->
  <div class="csi-contentpane">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-1">
          <h2 class="csi-job-list-title"><a href="http://whostaffing.com/gigs.php"><span class="glyphicon glyphicon-triangle-left"></span> Back to Job Listings</a></h2>
          <div class="csi-job">
            <div class="csi-job-headercontainer">
              <div>
                <h2>Software Engineer</h2> </div>
              <div class="hidden-xs"> <span class="csi-job-listdate-date">14</span> <span class="csi-job-listdate-monthyear">
                                            Mar                                            <br>
                                            2016                                        </span> </div>
            </div>
            <h3>Baltimore, MD</h3>
            <p> </p>
            <p>Immediate contract-to-hire opportunity for a Software Engineer with our client in the Harbor East neighborhood of Baltimore, Maryland.</p>
            <p><strong>Background Information on our Client:</strong></p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->As a team member, you’ll work in a fast-paced environment and make an impact on business contributing towards the success of the company!</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&amp;nbs </p>
            <h4>Job Description:</h4>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->The Software Engineer position is a highly technical, hands-on development role.</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->In this role you will work with project team members writing functional specifications, design documentation, coding, testing, debugging, integration, performance tuning, and maintenance of assigned software modules.</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->You will work with business owners to understand complex requirements and ensure business needs are addressed</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Maintain high quality by working within standards</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Document all work in accordance with development standards and procedures&nbsp;</p>
            <h4>Required Skills Include:</h4>
            <p><strong>Required Skills and Experience:</strong></p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Bachelor’s or Master’s Degree in Computer Science or Software Engineering</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->A minimum of 2 years of web development using ASP.Net, MVC, C#, SQL, HTML5, JavaScript, CSS</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->A solid understanding of web development processes from the layout/user interface to relational database structures</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Hands-on experience using CMS systems and responsive design</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Understanding of SEO and development skills to support SEO are a plus</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Excellent written and verbal communication skills in the English language</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Experience working in a multi-team environment</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Excellent analytical skills</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Full understanding of the project lifecycle</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->The ability to act in an entrepreneurial manner</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->The ability to communicate with clients at all levels</p>
            <p><strong>Desired Skills and Experience:</strong></p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Experience with large, high transaction volume SQL Server 2005/2008 databases</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Experience with technical documentation</p>
            <p>
              <!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--[endif]-->Knowledge of Microsoft SSRS</p>
            <p>&nbsp;</p>
            <h4>Additional Details:</h4>
            <div class="csi-job-action"> <a class="" href="mailto:resumes@whostaffing.com?subject=Application%20For%20Job%20ID%20200">Apply to this job by emailing resumes@whostaffing.com with a cover letter &amp; resume</a> </div>
          </div>
        </div>
        <div class="hidden-xs col-sm-4 col-md-4 col-md-offset-1">
          <h2>Filter By Skills</h2>
          <ul class="csi-job-filters">
            <li><a href="http://whostaffing.com/gigs.php">All Listings</a></li>
            <li class=""> <a href="http://whostaffing.com/gigs.php?catid=2">Business Analysis</a> </li>
            <li class=""> <a href="http://whostaffing.com/gigs.php?catid=4">Database Development / Administration</a> </li>
            <li class=""> <a href="http://whostaffing.com/gigs.php?catid=8">Other</a> </li>
            <li class=""> <a href="http://whostaffing.com/gigs.php?catid=6">Program / Project Management</a> </li>
            <li class=""> <a href="http://whostaffing.com/gigs.php?catid=7">Quality Assurance / Test Engineering</a> </li>
            <li class="selected"> <a href="http://whostaffing.com/gigs.php?catid=1">Software / Web Development</a> </li>
            <li class=""> <a href="http://whostaffing.com/gigs.php?catid=3">Systems / Network / Infrastructure Engineering</a> </li>
            <li class=""> <a href="http://whostaffing.com/gigs.php?catid=5">Technical / Development Operations</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="csi-footer">
    <div class="csi-footer-title"> Contact Us </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1">
          <p> WHO Staffing
            <br> 10721 Birmingham Way, Suite B
            <br> Woodstock, Maryland 21163
            <br>
            <br class="visible-xs-inline"> (410) 680-8855 </p>
        </div>
        <div class="hidden-xs col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1">
          <p> <a href="mailto:info@whostaffing.com">info@whostaffing.com</a>
            <br> <a href="https://www.linkedin.com/company/2440292?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2Cidx%3A1-1-1%2CtarId%3A1427806121276%2Ctas%3Acreative+staffing+in">LinkedIn</a>
            <br> Copyright © 2015 </p>
        </div>
      </div>
    </div>
    <div class="visible-xs-block container csi-navtabs">
      <div class="row">
        <div class="col-xs-12"> <a href="http://maps.google.com/?q=10721%20Birmingham%20Way%20Woodstock,%20MD%2021163">Get Directions</a> <a href="mailto:info@whostaffing.com">Email Us</a> </div>
      </div>
      <div> </div>
    </div>
  </div>
</div>
<!-- work with us modal -->
<div id="modWorkWithUs" class="container csi-modal csi-modal-workwithus jqm-init" style="display: none;">
  <div class="visible-xs-block csi-navbar">
    <div class="csi-navbar-mobile"> <span class="jqmClose glyphicon glyphicon-remove"></span> </div>
  </div>
  <div class="hidden-xs">
    <a href="javascript:void(0)" class="csi-modal-closebutton jqmClose"> <span class="glyphicon glyphicon-remove"></span> </a>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h2>Looking For Employment?</h2>
      <p> If you are in the position of making a career change, allow WHO… a staffing company to represent you in this endeavor. We will work with you to match you with opportunities that will satisfy your professional goals and aspirations. Click below to
        send us your resume along with a brief description of your motivations and expectations, and we will contact you shortly to begin the placement process. </p>
      <div class="csi-modal-separator csi-job-action"> <a href="mailto:resumes@whostaffing.com?subject=Looking%20For%20Employment">Get Started</a> </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h2>Looking to Hire?</h2>
      <p> At WHO…a staffing company, it is our goal to form deep and trusted partner relationships with each and every client. It is our belief that to truly represent you in the marketplace, and to identify and attract the right-fit resource for your organization,
        we must first understand what it is that makes your company special, and what it takes to be a successful contributor to your team. Please give us a call at (410) 680-8855 or send an email to <a href="mailto:info@whostaffing.com">info@WHOstaffing.com</a>        to learn how we can best serve your company’s employment needs. </p>
    </div>
  </div>
</div>
<script type="text/javascript">
  // initialize work with us modal
  if ($(window).width() < 768) {
    $('#modWorkWithUs').jqm({
      overlayClass: 'csi-modal-overlay',
      modal: false,
      trigger: 'a.csi-modal-show-workwithus',
      onShow: function(hash) {
        // display the overlay and modal
        if (hash.c.overlay > 0) {
          hash.o.prependTo('body');
        }
        hash.w.show();
        // hide the page content
        $('div.csi-page-container').hide();
        return true;
      },
      onHide: function(hash) {
        // hide the modal
        hash.w.hide() && hash.o && hash.o.remove();
        // show the page content
        $('div.csi-page-container').show();
        return true;
      }
    });
  } else {
    $('#modWorkWithUs').jqm({
      overlayClass: 'csi-modal-overlay',
      modal: false,
      trigger: 'a.csi-modal-show-workwithus',
      onShow: function(hash) {
        // calculate the position
        var offset = Math.max(parseInt($(window).height() / 2) - parseInt(hash.w.height() / 2), 20);
        var cssTop = ($('body').scrollTop() + offset).toString() + 'px';
        hash.w.css('top', cssTop);
        // display the overlay and modal
        if (hash.c.overlay > 0) {
          hash.o.prependTo('body');
        }
        hash.w.show();
        return true;
      }
    });
  }
</script>
