#about {
  background-color: $grey-color-light;

  main {
    max-width: 90%;
    margin: 0 auto;
  }

  footer {
    border-top: 1px solid $white-color;
  }

  .stage {
    display: table;
    height: 30vh;
    margin: 0 auto;
    max-width: calc(50% + 10vmax);

    .hero {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}
/* masonry container */

.masonry {
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;

  @media screen and (min-width: 32em) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  @media screen and (min-width: 48em) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  figure {

    position: relative;

    figcaption {
      background-color: $brand-color-blue;
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: opacity .5s ease-in-out;
      width: 100%;

      p {
        color: $text-color;
        font-family: $base-font-family;
        font-size: 0.6em;
        padding: 1em;
        margin: 0;
      }

      span {
        font-style: italic;
        display: block;
      }
    }

    &:hover figcaption {
      opacity: 0.8;
    }
  }

  figure#instafeed {
    -webkit-filter: none;
    filter: none;
    position: relative;

    &:hover a {
      color: $brand-color-blue;
    }

    figcaption {
      background-color: transparent;
      bottom: 10px;
      left: 10px;
      opacity: 1;
      position: absolute;
    }

    a,
    &:visited {
      color: darken($brand-color-blue, 15%);
      transition: color .5s ease-in-out;

      &:hover,
      &:active {
        color: $brand-color-blue;
      }
    }
  }

  blockquote {
    border-left: 5px solid rgba(0, 255, 204, 0.2);
    font-family: $base-font-family;
    padding-left: 0.5em;
    letter-spacing: -1px;
    font-size: 0.7em;
    font-style: italic;

    cite {
      display: block;
      font-size: 0.7em;
      padding: 1em 0 0;
    }
  }
}

/* masonry bricks */

.brick {
  background-color: $white-color;
  border-radius: 3px;
  color: $brand-color-grey;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: 2em;
  line-height: 1.1;
  margin: 0 0 1em;
  padding: 1em;
}

// headshot bricks
.hs {
  padding: .3em;
}
