
/*  ================ Reset some basic elements ================ */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/*  ================ Basic styling ================ */

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/*  ================ Headings ================ */

h1,
.h1 {
  font-family: $heading-font-family;
  font-style: $heading-font-style;
  font-weight: $heading-font-weight;
}

h2,
h3,
.h2 {
  font-family: $sub-heading-font-family;
  font-style: $sub-heading-font-style;
  font-weight: $sub-heading-font-weight;
}

h1,
.h1 {
  font-size: 225%;
  line-height: 133%; // maintain multiple of 12: 48px
  margin-bottom: 0.33333em;

  @media (min-width: 48em) {
    font-size: 337.5%; // 54px
    line-height: 111%; // maintain multiple of 12: 60px
    margin-bottom: 0.22222em;
  }
}

h2,
.h2 {
  font-size: 150%;
  line-height: 150%; // maintain multiple of 12: 36px
  margin-bottom: 0.5em;

  @media (min-width: 48em) {
    font-size: 225%;
    line-height: 133%; // maintain multiple of 12: 48px
    margin-bottom: 0.33333em;
  }
}

h3 {
  margin-bottom: 1em; // not sure yehttp://localhost:3000/approacht

  @media (min-width: 48em) {
    font-size: 150%;
    line-height: 150%; // maintain multiple of 12: 36px
    margin-bottom: 0.5em;
  }
}

/*  ================ Paragraphs ================ */

p {
  margin-bottom: 1.5em; // multiple of 12 again: 24px
}

/*  ================ Line length ================ */

.measure {
  max-width: 34em; // about 75 chars
}


#container {
  height: 100%; // iOS
  overflow: hidden; // prevent scrolling due to off page menu
  position: relative; // iOS
}



/*  ================ vCard ================ */

.vcard, .org, .tel {
  font-family: $base-font-family;
  font-size: 150%;
  line-height: 150%; // maintain multiple of 12: 36px
  margin-bottom: 0.5em;

  &:link {
    color: $text-color;
  }
}



/*  ================ Images ================ */

img {
  border-style: none; // IE 10 and below?
  max-width: 100%;
  vertical-align: middle;
}



/*  ================ Figures ================ */

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/*  ========= CSSgram image filters ======== */

.moon {
  @include moon();
}

.gingham {
  @include gingham();
}

.slumber {
  @include slumber();
}



/*  ================ Lists ================ */

ul, ol {
  // margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/*  ================ Links ================ */

a {
  color: darken($brand-color-blue, 15%);
  text-decoration: none;

  // &:visited {
  //   color: darken($brand-color-blue, 15%);
  // }

  &:hover {
    color: $text-color;
  }
}

// sass extend here?

a.cta {
  background: $brand-color-grey;
  border-radius: 0.125em;
  color: $white-color;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1;
  padding: 0.3125em 0.625em;
  margin:1em 0 1em;

  &:hover {
    background: $brand-color-blue;
    color: $brand-color-black;
  }
}



/*  ================ Clearfix ================ */

%clearfix {

  &:after {
      content: "";
      display: table;
      clear: both;
  }
}



/*  ================ Icons ================ */

svg.icon {

    display: inline-block;
    fill: currentColor;
    height: 1.5em;
    vertical-align: middle;
    width: 1.5em;
}



/*  ================ Baseline grid ================ */

.baseline {
  background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent 23px, $brand-color-blue-dark 23px, $brand-color-blue-dark 24px);
}

#typography {

  #content {
    max-width: 34em; // yields a measure of 75 chars
    margin: 0 auto;
  }
}
