#gary,
#donald,
#martina,
#tim,
#chris {

  #stage {
    display: flex;
    min-height: 50vh;
    margin: 0;
    padding: 2em 0; // for small screens

    .hero {
      margin: auto;
      max-width: 64em;
      width: 80%;

      h2 {
        quotes: "“" "”" "‘" "’";  
        position: relative;

        &:before,
        &:after {
          font-family: $base-font-family;
          font-size: 3em;
          position: absolute;
        }
        &:before {
          content: open-quote;
          left: -0.4em;
          top: 0.18em;
        }
        &:after {
          content: close-quote;
          bottom: -0.35em;
        } 
      }  
    }
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2em auto;
    width: 80%;

      @media (min-width: 64em) {
        flex-direction: row;
        margin: 2em;
        width: auto;
      }

      .bio {
        max-width: 34em; // yields a line length (measure) of 75 chars

          @media (min-width: 64em) {
            order: -1;
          }
      }

      .social {
        order: -1;
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        margin: 2em 0;

          @media (min-width: 32em) {
            justify-content: flex-start;
          }

          li {
            transition: background-color 0.7s;

              &:hover {
                background-color: $brand-color-blue;

                  .icon {
                    color: currentColor;
                  }
              }
          }

            a {
              display: block;
              padding: 1em;

              @media (min-width: 32em) {
                padding: 1em;
              }
            }

        .icon {
            color: $grey-color-dark; 
            // color: #00b38f; // footer green
        }
      }
    }
  }
