article {
  margin: 0 auto;
  background: $white-color;
  max-width: 48em;
  border-radius: 3px;
  padding: 1em;

  @media (min-width: 48em) {
    padding: 2em 0 2em 3em;
  }

  h1 {
    margin-top: 0;
    font-size: 2em;
    color: #4F7482;
    font-weight: 700;
    padding-bottom: .2em;
    border-bottom: 1px solid #c2c2c2;
  }
  p {
    line-height: 1.3em;
    max-width: 42em;
  }

  // match the 3rd paragraph in the component
  // some instances of the component don't have a 3rd paragrah
  p:nth-child(1n+2) {
    margin-bottom: 0;
    padding-top: 1.5em;
  }

  blockquote {
    max-width: 100%;
    padding: 1em;
    position: relative;
    background: $grey-color-light;

    &::before,
    &::after {
      background: $grey-color-light;
      bottom: 0;
      content: '';
      position: absolute;
      top: 0;
      width: 25px;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }

    p {
      margin: 0;
      font-size: 1.5em;

      &::before {
        top: 0;
        left: 0.1em;
        color: $brand-color-blue;
        content: '“';
        font-size: 3em;
        position: absolute;
        text-shadow: -3px 0 $brand-color-blue;
      }

      &::after {
        right: 0.1em;
        color: $brand-color-blue;
        content: '”';
        bottom: -32px;
        font-size: 3em;
        position: absolute;
        text-shadow: 3px 0 $brand-color-blue;
      }
    }

    cite {
      display: inherit;
      margin-top: 1em;

      @media (min-width: 32em) {
        margin: 1em 0 0 1.5em;
      }
    }

    @media (min-width: 48em) {
      padding: 2em 0 2em 3em;
      margin-left: -3em;
    }
  }

  @media (min-width: 32em) {
    h1 {
      font-size: 3em;
    }

    blockquote {

      &::before {
        display: none;
      }
      &::after {
        width: 50px;
      }
      p {
        font-size: 2.5em;

        &::after {
          bottom: -56px
        }
      }
    }
  }
}
