#contact {

  // sticky footer

  #container {
    background-attachment: fixed;
    background-image: url("/assets/img/Contact.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    @media only screen and (max-width: 500px) {
      background-image: url("/assets/img/Contact-sm.jpg");
      background-size: contain;
    }
  }

  #content {
    // flex-shrink: 0 and flex-basis: auto are need to work around
    // flexbox issues in IE 10-11
    flex: 1 0 auto;
  }

  // end sticky footer


  .contact-info {
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding-top: 2em;
    text-align: center;

    @media (min-width: 56em) {
      flex-direction: row;
      max-width: 80em;
      margin: 0 auto;
    }
  }

  main {
    margin-top: 50vh;

    @media (min-width: 48em) {
      min-height: 50vh;
    }
    
  }

  .icon {
    color: #00b38f;
    height: 1.5em;
    width: 1.5em;
  }

  svg.icon-house,
  svg.icon-mail,
  svg.icon-phone {
    height: 7em;
    width: 7em;
  }
}
