/* Microsoft Edge Browser 12+ (All) - @supports method */

@supports (-ms-accelerator:true) {

  // still no filters and blend modes in IE :(

  .slumber:before,
  .slumber:after,
  .moon:before,
  .moon:after,
  .gingham:before,
  .gingham:after {
    background-color: transparent;
  }

  header {
    #logo {
      height: auto;
      width: 10em; // IE has trouble with nested calc() expressions and does not support vmax at all
    }
  }
}

/* IE10+ only */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  // no filters and blend modes in IE :(

  .slumber:before,
  .slumber:after,
  .moon:before,
  .moon:after,
  .gingham:before,
  .gingham:after {
    background-color: transparent;
  }

  #container {
    height: 100%;
  }

  header {
    #logo {
      height: auto;
      width: 10em; // IE has trouble with nested calc() expressions and does not support vmax at all
    }
  }

  #about {


    main {
      display: block; // default is "default"
      width: 90%;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}
