header {
  background-color: $brand-color-black;
  line-height: 2; /* set header height */
  opacity: 0.5;

  nav {
    margin: 0 auto;
    max-width: 36em;
  }

  ul {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    -webkit-box-flex: 1 0 auto; /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1 0 auto; /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1 0 auto; /* IE 10 */
    flex: 1 0 auto;
    list-style: none;
    padding: 0.5em;

    a {
      border-radius: 0.3125em; /* em units to play off font-size */
      font-size: 2vmax;
      padding: 0.3125em 0.9375em;

      &:hover,
      &:focus {
        color: $text-color;
        background: $grey-color-light;
        border: none;
      }
    }
  }
}

