.team-grid {
  display: flex;
  flex-wrap: wrap;
}

.team-card {
  flex: 0 1 auto;
  padding: 1rem;
  width: calc(100%/3);

  @media only screen and (max-width: 675px) {
    width: 100%;
  }
}

.team-card--bordered {
  border: 1px solid;
}

.team-card__img {
  margin-bottom: 1rem;
  width: 100%;
}

.team-card__img--border {
  border: 1px solid;
  padding: 1rem;
}

.team-card__name {
  font-family: $sub-heading-font-family;
  font-size: 28px;
}

.team-card__title {
  font-family: $base-font-family;
  font-size: 21px;
  font-style: italic;
}

.team-card__social-list {
  display: flex;
  list-style: none;
}

.team-card__social-item {
  padding: .5rem;
}