@font-face {
  font-family: 'Clarendon Bold';
  src: url('../assets/fonts/Clarendon-Bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Clarendon-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Clarendon-Bold-webfont.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Clarendon-Bold-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */

       /* url('../.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Clarendon Medium';
  src: url('../assets/fonts/Clarendon-Medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Clarendon-Medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Clarendon-Medium-webfont.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Clarendon-Medium-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */

       /* url('../.svg#svgFontName') format('svg'); /* Legacy iOS */
}
