.wireframe section {
  background-color: whitesmoke;
  border-bottom: 1px solid gainsboro;
  color: silver;
  text-align: center;
}

.wireframe #client-hero {
  display: table;
  height: 100vh;
  width: 100%;
}

.wireframe #candidate-hero {
  display: table;
  height: 50vh;
  width: 100%;
}

.wireframe #internal-hero {
  display: table;
  height: 50vh;
  width: 100%;
}

.wireframe .hero {
  display: table-cell;
  vertical-align: middle;
}

.wireframe .hero h1 {
  font-size: 4.5vmax;
}

.wireframe .hero h2 {
  font-size: 2.5vmax;
}

.wireframe .hero a {
  border-radius: 0.3125em; /* em units to play off font-size */
  display: inline-block;
  font-size: 3vmax;
  line-height: 1;
  padding: 0.3125em 0.9375em;
  margin:1em 0 1em;
  
  &:hover {
    background: $grey-color-light;
    border-color: $text-color;
  }
}
