---
layout: gigs
---

        <div class="csi-page-container">

            <!-- top navigation bar -->
            <div id="topNavBar" class="">
    <div class="csi-navbar">
        <div class="visible-md-block visible-lg-block">
            <a id="lbtnWhoMatters" href="http://whostaffing.com/index.php#whomatters">
                <span>Who Matters</span>
            </a>
            <a id="lbtnOurServices" href="http://whostaffing.com/index.php#ourservices">
                <span>Who Are You</span>
            </a>
            <a id="lbtnOurTeam" href="http://whostaffing.com/index.php#whoweare">
                <span>Who We Are</span>
            </a>
            <a id="lbtnHowDifferent" href="http://whostaffing.com/index.php#howdifferent">
                <span>Who Cares</span>
            </a>

            <span class="csi-separator">&nbsp;</span>

            <a class="csi-highlight" href="http://whostaffing.com/gigs.php">
                <span>Job Postings</span>
            </a>
            <a class="csi-highlight csi-modal-show-workwithus" href="javascript:void(0)">
                <span>Work With Us</span>
            </a>
        </div>
        <div class="visible-xs-block visible-sm-block csi-navbar-mobile">
            <span class="csi-navbar-showmobilemenu glyphicon glyphicon-menu-hamburger"></span>
        </div>
    </div>
            <div class="visible-md-block visible-lg-block csi-navbar-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="csi-navbar-title-content">
                            <div class="csi-navbar-title-logo">
                                <img src="assets/who-logo-med.png">
                            </div>
                            <div class="csi-navbar-title-text">
                                <span>Gigs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="mobileMenu" class="jqmWindow jqm-init">
    <div class="csi-navbar">
        <div class="csi-navbar-mobile">
            <span class="jqmClose glyphicon glyphicon-remove"></span>
        </div>
    </div>
    <div class="csi-mobilemenu-content">
        <div>
            <a href="http://whostaffing.com/index.php">Home</a>
        </div>
        <div>
            <a href="http://whostaffing.com/gigs.php">Job Postings</a>
        </div>
        <div>
            <a href="javascript:void(0)" class="csi-modal-show-workwithus">Work With Us</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // initialize top nav bar stickiness
        $('#topNavBar').stick_in_parent();

        // initialize mobile menu modal
        $('#mobileMenu').jqm({
            modal: true,
            overlay: 85,
            trigger: '.csi-navbar-showmobilemenu'
        });
        $('#mobileMenu .csi-mobilemenu-content a').on('click', function(e) {
            $('#mobileMenu').jqmHide();
        });
    });
</script>

            <!-- job listings -->
            <div class="csi-contentpane">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-6 col-md-offset-1">
                            <h2 class="csi-job-list-title">Job Listings</h2>
                            <div id="jobList">
                                                                                                        <div class="csi-job">
                                        <div class="csi-job-headercontainer">
                                            <div>
                                                <h2>Software Engineer</h2>
                                            </div>
                                            <div class="hidden-xs">
                                                <span class="csi-job-listdate-date">14</span>
                                                <span class="csi-job-listdate-monthyear">
                                                    Mar                                                    <br>
                                                    2016                                                </span>
                                            </div>
                                        </div>
                                        <h3>Baltimore, MD</h3>
                                        <p>
                                            </p><p>Immediate contract-to-hire opportunity for a Software Engineer with our client in the Harbor East neighborhood of Baltimore, Maryland.</p><p><strong>Background Information on our Client:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->As a team member, you’ll work in a fast-paced environment and make an impact on business contributing towards the success of the company!</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&amp;nbs                                        </p>
                                        <h4>Job Description:</h4>
                                        <p>
                                            </p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->The Software Engineer position is a highly technical, hands-on development role.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->In this role you will work with project team members writing functional specifications, design documentation, coding, testing, debugging, integration, performance tuning, and maintenance of assigned software modules.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->You will work with business owners to understand complex requirements and ensure business needs are addressed</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Maintain high quality by working within standards</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Document all work in accordance with development standards and procedures&nbsp;</p>                                        <p></p>
                                        <div class="csi-job-action">
                                            <a class="" href="http://whostaffing.com/gig.php?jobid=200">Read More</a>
                                            <a class="" href="mailto:resumes@whostaffing.com?subject=Application%20For%20Job%20ID%20200">Apply Here</a>
                                        </div>
                                        <div class="csi-clearfloat"></div>
                                    </div>
                                                                                                        <div class="csi-job">
                                        <div class="csi-job-headercontainer">
                                            <div>
                                                <h2>Web Developer</h2>
                                            </div>
                                            <div class="hidden-xs">
                                                <span class="csi-job-listdate-date">14</span>
                                                <span class="csi-job-listdate-monthyear">
                                                    Mar                                                    <br>
                                                    2016                                                </span>
                                            </div>
                                        </div>
                                        <h3>Pikesville, MD</h3>
                                        <p>
                                            </p><p>Immediate fulltime, direct hire opportunity for a Web Developer with our client in Baltimore, MD.</p>                                        <p></p>
                                        <h4>Job Description:</h4>
                                        <p>
                                            </p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Our client is looking for an experienced Web Developer to join a distributed team working on a suite of financial workflow / reporting / projection building solutions for law firms. The ideal candidate must have a proven record of delivering products, a good understanding of financial analytics, and excellent communication skills.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->The ideal candidate will be able to quickly understand and use existing architectures using PHP (CakePHP) and JavaScript (Backbone/Marionette), and improve/expand existing applications.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Telecommuting is optional, but the position may require occasional on-site visits to our office in Baltimore.</p>                                        <p></p>
                                        <div class="csi-job-action">
                                            <a class="" href="http://whostaffing.com/gig.php?jobid=198">Read More</a>
                                            <a class="" href="mailto:resumes@whostaffing.com?subject=Application%20For%20Job%20ID%20198">Apply Here</a>
                                        </div>
                                        <div class="csi-clearfloat"></div>
                                    </div>
                                                                                                        <div class="csi-job">
                                        <div class="csi-job-headercontainer">
                                            <div>
                                                <h2>Lead Big Data Engineer</h2>
                                            </div>
                                            <div class="hidden-xs">
                                                <span class="csi-job-listdate-date">14</span>
                                                <span class="csi-job-listdate-monthyear">
                                                    Mar                                                    <br>
                                                    2016                                                </span>
                                            </div>
                                        </div>
                                        <h3>Columbia, MD</h3>
                                        <p>
                                            </p><p>Immediate fulltime, full time opportunity for a Lead Big Data Engineer to work with our client in Columbia, Maryland.</p>                                        <p></p>
                                        <h4>Job Description:</h4>
                                        <p>
                                            </p><p><strong>Job Description:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Our client is looking for an experienced, passionate problem solver to design, develop, and deliver the company’s core big data technologies.&nbsp;</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Candidates for this position must be knowledgeable with distributed open source technologies and NoSQL platforms such as Hadoop, Spark, HBase, and Cassandra.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->They are comfortable working with multiple programming languages and have experience delivering large, highly scalable, highly performant systems.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->They also have a knack for working with others to achieve common goals.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Joining our client provides you an opportunity to work with the some of the brightest minds in the industry. They been developing and evolving big data systems for nearly a decade. The core team you will work with not only knows their stuff, they are always learning and applying the latest “right” technologies to keep their products at the front of the market.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Additionally, our client adheres to a strict “no-jerk” policy; mutual respect and responsibility are valued above all. They like working with each other, and sharing success together.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->What do we mean by “big data”? 17 Terabytes ingested daily, processed against a pool of 4 Petabytes.</p><p><strong>&nbsp;Responsibilities:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Work with both technology and business team members to define and refine Lotame product and technology requirements in an agile development environment.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Contribute to the full lifecycle of feature delivery, from idea to deployment.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Work with the team to design and code scalable and reliable software, and improve the scalability and performance of existing products.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Utilize sound engineering practices to deliver functional, stable, and scalable technology.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Identify and apply proven design patterns in the development of product capability.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Collaborate with other team members toward shared product goals.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Work in a fast-paced, flexible, and fun environment, with a talented, diverse, and forward-thinking team.</p>                                        <p></p>
                                        <div class="csi-job-action">
                                            <a class="" href="http://whostaffing.com/gig.php?jobid=199">Read More</a>
                                            <a class="" href="mailto:resumes@whostaffing.com?subject=Application%20For%20Job%20ID%20199">Apply Here</a>
                                        </div>
                                        <div class="csi-clearfloat"></div>
                                    </div>
                                                                                                        <div class="csi-job">
                                        <div class="csi-job-headercontainer">
                                            <div>
                                                <h2>SharePoint Developer</h2>
                                            </div>
                                            <div class="hidden-xs">
                                                <span class="csi-job-listdate-date">26</span>
                                                <span class="csi-job-listdate-monthyear">
                                                    Feb                                                    <br>
                                                    2016                                                </span>
                                            </div>
                                        </div>
                                        <h3>Gaithersburg, MD</h3>
                                        <p>
                                            </p><p>Immediate contract-to-hire&nbsp;opportunity for a SharePoint Developer to support our client on a federal government project in Gaithersburg, Maryland</p><p>&nbsp;</p>                                        <p></p>
                                        <h4>Job Description:</h4>
                                        <p>
                                            </p><p><strong>Job Description:</strong></p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our client, a consulting firm in Gaithersburg, MD, is seeking a SharePoint Developer with 4+ years of experience&nbsp;to help a growing web development team.</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Responsibilities include design, development, testing, and maintenance of SharePoint environments, associated web applications and databases, 508 compliance, as well as generating various reports.</p><p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Candidates must have strong interpersonal communication skills (written/verbal) and a team-oriented, customer service attitude.</p><p><strong>Project Specifics:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Rebuild of an older SharePoint site to the latest version</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Reorganization of current content to a more efficient and logical order</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Perform other minor requirements yet to be determined</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Provide training of staff on newly developed system</p>                                        <p></p>
                                        <div class="csi-job-action">
                                            <a class="" href="http://whostaffing.com/gig.php?jobid=197">Read More</a>
                                            <a class="" href="mailto:resumes@whostaffing.com?subject=Application%20For%20Job%20ID%20197">Apply Here</a>
                                        </div>
                                        <div class="csi-clearfloat"></div>
                                    </div>
                                                                                                        <div class="csi-job">
                                        <div class="csi-job-headercontainer">
                                            <div>
                                                <h2>Front-End Web Designer</h2>
                                            </div>
                                            <div class="hidden-xs">
                                                <span class="csi-job-listdate-date">24</span>
                                                <span class="csi-job-listdate-monthyear">
                                                    Feb                                                    <br>
                                                    2016                                                </span>
                                            </div>
                                        </div>
                                        <h3>Hunt Valley, MD</h3>
                                        <p>
                                            </p><p>Immediate fulltime, direct hire opportunity for a Front-End Web Designer with our client in Hunt Valley, Maryland</p><p><strong>Background Information on our client:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Make your mark in Broadcasting and Digital Media.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Our client is dedicated to becoming a communications powerhouse!</p>                                        <p></p>
                                        <h4>Job Description:</h4>
                                        <p>
                                            </p><p><strong>Job Description:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Our client is looking for a talented and dynamic web designer who thrives in a fast paced environment.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->A candidate with a “can-do” attitude will thrive at this position, which offers the opportunity to add to their design portfolio a multitude of sites created for a growing and diverse client base.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->The candidate should be experienced with responsive design principles and able to apply these concepts within the WordPress CMS framework. In addition, the candidate must be able to work well with customers and our customer-relations personnel to implement digital solutions in a clean and effective manner.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->The candidate should also be able to manage their time well across multiple projects.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->The candidate must be flexible and able to adapt to the evolving digital industry and to growing and changing digital group.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->The primary focus of this position is to support our digital agency services, but web designers may be tagged to handle other web projects that support our client as a whole.</p><p><strong>Responsibilities include:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Website &amp; Landing Page Design</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Front – end website design which will be completed within our WordPress environment and in accordance to contract requirements.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Creating wireframes and mockups that effectively illustrate functionality as well as clarify and define the intended design treatment of projects in development.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Writing HTML and CSS code for various front-end elements.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Must be able to plan site design with clients and management, clarify goals and understand functionality.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Must be confident enough to maintain and enforce content and display standards.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Deliver projects that are free of mistakes and follow outlined requirements.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Must be able to troubleshoot and resolve design issues.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Training clients and departmental employees on approved systems.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]--><strong>Email Marketing:</strong></p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Must be able to execute email friendly designs that are responsive.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Must be able to complete all projects on time and hand off to customer service for testing and deployment.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Must be familiar with email design standards and techniques, and run projects through quality assurance processes defined by management.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Troubleshoot and resolve design problems.</p><p>&nbsp;</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]--><strong>Contest Design:</strong></p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Will work within our approved contest platforms to execute contests within specified time frames.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Must be able to think creatively and design appealing skins around standard contesting templates.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Must remain organized and on top of contesting projects and remove from sites in accordance to assigned contracts.</p><p><strong>&nbsp;</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]--><strong>Communication, Client Interaction And Experience:</strong></p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Must be comfortable participating in design discussions with external clients, sales leaders and department team members.</p><p><!--[if !supportLists]-->o&nbsp;&nbsp;&nbsp; <!--[endif]-->Must be able to develop an effective user exper                                        </p>
                                        <div class="csi-job-action">
                                            <a class="" href="http://whostaffing.com/gig.php?jobid=196">Read More</a>
                                            <a class="" href="mailto:resumes@whostaffing.com?subject=Application%20For%20Job%20ID%20196">Apply Here</a>
                                        </div>
                                        <div class="csi-clearfloat"></div>
                                    </div>
                                                                                                        <div class="csi-job">
                                        <div class="csi-job-headercontainer">
                                            <div>
                                                <h2>Automation Test Engineer</h2>
                                            </div>
                                            <div class="hidden-xs">
                                                <span class="csi-job-listdate-date">15</span>
                                                <span class="csi-job-listdate-monthyear">
                                                    Feb                                                    <br>
                                                    2016                                                </span>
                                            </div>
                                        </div>
                                        <h3>Hunt Valley, MD</h3>
                                        <p>
                                            </p><p>Full time direct hire opportunity for an Automation&nbsp;Test Engineer&nbsp;in Hunt Valley, Maryland.</p>                                        <p></p>
                                        <h4>Job Description:</h4>
                                        <p>
                                            </p><p><strong>Job Description:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Seeking sharp engineers who can pick up things quickly.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Work with a team of software engineers to test and improve web applications for a variety of clients.&nbsp;</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Familiarity with website testing across various Apple and Android devices.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Familiarity testing across all OS platforms, IE, Chrome, Safari (experience using BrowserStack, JIRA would be helpful)</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Bachelor's degree in&nbsp;engineering, a related technical field, or equivalent</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Perform internal audits.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Address nonconformities from previous internal and external audits.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Follow-up on and close pending preventive and corrective action requests.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Insure that organizational systems and training is in place.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Ensure that documentation and design controls are appropriate for organization.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Administer document control and configuration management system.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Oversee established calibration and testing program.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Assist the management team and provide QA support as necessary.</p><p><strong>&nbsp;</strong></p>                                        <p></p>
                                        <div class="csi-job-action">
                                            <a class="" href="http://whostaffing.com/gig.php?jobid=190">Read More</a>
                                            <a class="" href="mailto:resumes@whostaffing.com?subject=Application%20For%20Job%20ID%20190">Apply Here</a>
                                        </div>
                                        <div class="csi-clearfloat"></div>
                                    </div>
                                                                                                        <div class="csi-job">
                                        <div class="csi-job-headercontainer">
                                            <div>
                                                <h2>Web Developer</h2>
                                            </div>
                                            <div class="hidden-xs">
                                                <span class="csi-job-listdate-date">15</span>
                                                <span class="csi-job-listdate-monthyear">
                                                    Feb                                                    <br>
                                                    2016                                                </span>
                                            </div>
                                        </div>
                                        <h3>Hunt Valley, MD</h3>
                                        <p>
                                            </p><p>Immediate fulltime, direct hire opportunity for a Web Developer with our client in Hunt Valley, MD.</p><p><strong>Overview:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Make your mark in Broadcasting and Digital Media. Our client is dedicated to making themselves a communications powerhouse! They are the largest and most diversified television broadcasting company in the country today. They own and operate, program or provide s                                        </p>
                                        <h4>Job Description:</h4>
                                        <p>
                                            </p><p><strong>Responsibilities:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Writing production code for agency and internal clients.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Leading WooCommerce implementations.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Documenting new systems as well as current systems that may need treatment</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Providing guidance to designers on the workings of reusable components.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Learning and extending the capabilities of our WordPress framework.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->DNS configuration and participating in the configuration planning.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Participate in requirement analysis and provide input towards creating client contracts.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Creating custom, web based apps with JavaScript and PHP</p><p>&nbsp;</p>                                        <p></p>
                                        <div class="csi-job-action">
                                            <a class="" href="http://whostaffing.com/gig.php?jobid=187">Read More</a>
                                            <a class="" href="mailto:resumes@whostaffing.com?subject=Application%20For%20Job%20ID%20187">Apply Here</a>
                                        </div>
                                        <div class="csi-clearfloat"></div>
                                    </div>
                                                                                                        <div class="csi-job">
                                        <div class="csi-job-headercontainer">
                                            <div>
                                                <h2>System Administrator</h2>
                                            </div>
                                            <div class="hidden-xs">
                                                <span class="csi-job-listdate-date">15</span>
                                                <span class="csi-job-listdate-monthyear">
                                                    Feb                                                    <br>
                                                    2016                                                </span>
                                            </div>
                                        </div>
                                        <h3>Hunt Valley, MD</h3>
                                        <p>
                                            </p><p>Immediate fulltime, direct hire opportunity for a System Administrator with our client in Hunt Valley, MD.</p>                                        <p></p>
                                        <h4>Job Description:</h4>
                                        <p>
                                            </p><p><strong>Job Description:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Make your mark in Broadcasting and Digital Media. Our client is dedicated to making themselves a communications powerhouse! They are the largest and most diversified television broadcasting company in the country today. They own and operate, program or provide services to 162 stations located in 79 geographically diverse markets and their Digital group is focused on bringing the most engaging content to web, mobile and over-the-top broadcasting to audiences all over the country!&nbsp; Their success is the result of extraordinary employees and an exemplary management team who believe in a vision and are dedicated ensuring a great future for our employees.&nbsp; Whether you are an industry veteran or a just starting out, you can find it with our client!&nbsp; They are advancing the world of Broadcasting and they want YOU to join their winning team!</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Our client seeks a motivated and experienced Systems Administrator to join the Corporate Information Technology Department. The individual will develop, integrate and support key Enterprise infrastructure solutions.</p><p><strong>Responsibilities:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Provide enterprise-wide system and network support for a Dell Server infrastructure</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Use of SNMP for baseline, trending and alerts</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Troubleshoot system issues</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Create and manage system documentation, including configurations and backup procedures</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Manage patches and updates</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Participate in the definition and implementation of system components including new servers, hardware, software and upgrades</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Technologies supported in this high availability 24/7 environment include: Windows operating systems, VMWare, Storage Area Network, Active Directory and several software applications such as Microsoft Office Applications, SharePoint, etc.&nbsp;</p>                                        <p></p>
                                        <div class="csi-job-action">
                                            <a class="" href="http://whostaffing.com/gig.php?jobid=188">Read More</a>
                                            <a class="" href="mailto:resumes@whostaffing.com?subject=Application%20For%20Job%20ID%20188">Apply Here</a>
                                        </div>
                                        <div class="csi-clearfloat"></div>
                                    </div>
                                                                                                        <div class="csi-job">
                                        <div class="csi-job-headercontainer">
                                            <div>
                                                <h2>C++ Software Developer</h2>
                                            </div>
                                            <div class="hidden-xs">
                                                <span class="csi-job-listdate-date">05</span>
                                                <span class="csi-job-listdate-monthyear">
                                                    Feb                                                    <br>
                                                    2016                                                </span>
                                            </div>
                                        </div>
                                        <h3>Owings Mills, MD</h3>
                                        <p>
                                            </p><p>Immediate fulltime, direct hire opportunity for a Software Developer with our client in Owings Mills, MD.</p><p><strong>Overview:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Our client is more than an innovative world-class software company; they are real people solving real problems for our customers. The mission is to make IT simple for network admin clients and doing it in a high-energy work environment that offers a challe                                        </p>
                                        <h4>Job Description:</h4>
                                        <p>
                                            </p><p><strong>Job Description:</strong></p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Work with cross-functional teams such as Product Management, Quality Assurance and Technical Support in an agile environment to deliver high quality and timely products to the market.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Create advanced design, write code, debug and test for Windows-based/server, Mac OSX and mobile applications.</p><p><!--[if !supportLists]-->·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!--[endif]-->Creativity, forward-thinking, self-motivation and tech savvy.&nbsp;</p>                                        <p></p>
                                        <div class="csi-job-action">
                                            <a class="" href="http://whostaffing.com/gig.php?jobid=180">Read More</a>
                                            <a class="" href="mailto:resumes@whostaffing.com?subject=Application%20For%20Job%20ID%20180">Apply Here</a>
                                        </div>
                                        <div class="csi-clearfloat"></div>
                                    </div>
                                                            </div>
                            <div class="csi-job-pager">
                                <span>1-9/13</span>
                                <a class="disabled" href="javascript:void(0)" title="First Page"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span></a>
                                <a class="disabled" href="javascript:void(0)" title="Previous Page"><span class="glyphicon glyphicon-chevron-left"></span></a>
                                <a class="" href="http://whostaffing.com/gigs.php?catid=0&amp;p=2" title="Next Page"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                <a class="" href="http://whostaffing.com/gigs.php?catid=0&amp;p=2" title="Last Page"><span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-4 col-md-4 col-md-offset-1">
                            <h2>Filter By Skills</h2>
                            <ul class="csi-job-filters">
                                <li class="selected">
                                    <a href="http://whostaffing.com/gigs.php">All Listings</a>
                                </li>
                                                                    <li class="">
                                        <a href="http://whostaffing.com/gigs.php?catid=2">Business Analysis</a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://whostaffing.com/gigs.php?catid=4">Database Development / Administration</a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://whostaffing.com/gigs.php?catid=8">Other</a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://whostaffing.com/gigs.php?catid=6">Program / Project Management</a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://whostaffing.com/gigs.php?catid=7">Quality Assurance / Test Engineering</a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://whostaffing.com/gigs.php?catid=1">Software / Web Development</a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://whostaffing.com/gigs.php?catid=3">Systems / Network / Infrastructure Engineering</a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://whostaffing.com/gigs.php?catid=5">Technical / Development Operations</a>
                                    </li>
                                                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <div class="csi-footer">
	<div class="csi-footer-title">
		Contact Us
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1">
				<p>
					WHO Staffing
					<br>
					10721 Birmingham Way, Suite B
					<br>
					Woodstock, Maryland 21163
					<br>
					<br class="visible-xs-inline">
					(410) 680-8855
				</p>
			</div>
			<div class="hidden-xs col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1">
				<p>
					<a href="mailto:info@whostaffing.com">info@whostaffing.com</a>
					<br>
					<a href="https://www.linkedin.com/company/2440292?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2Cidx%3A1-1-1%2CtarId%3A1427806121276%2Ctas%3Acreative+staffing+in">LinkedIn</a>
					<br>
					Copyright © 2015
				</p>
			</div>
		</div>
	</div>
	<div class="visible-xs-block container csi-navtabs">
		<div class="row">
			<div class="col-xs-12">
				<a href="http://maps.google.com/?q=10721%20Birmingham%20Way%20Woodstock,%20MD%2021163">Get Directions</a>
				<a href="mailto:info@whostaffing.com">Email Us</a>
			</div>
		</div>
		<div>
		</div>
	</div>
</div>
        </div>

        <!-- work with us modal -->
        <div id="modWorkWithUs" class="container csi-modal csi-modal-workwithus jqm-init" style="display: none;">
	<div class="visible-xs-block csi-navbar">
        <div class="csi-navbar-mobile">
            <span class="jqmClose glyphicon glyphicon-remove"></span>
        </div>
    </div>
	<div class="hidden-xs">
		<a href="javascript:void(0)" class="csi-modal-closebutton jqmClose">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<h2>Looking For Employment?</h2>
			<p>
				If you are in the position of making a career change, allow WHO… a staffing company to represent you in this endeavor. We will work with you to match you with opportunities that will satisfy your professional goals and aspirations. Click below to send us your resume along with a brief description of your motivations and expectations, and we will contact you shortly to begin the placement process.
			</p>
			<div class="csi-modal-separator csi-job-action">
				<a href="mailto:resumes@whostaffing.com?subject=Looking%20For%20Employment">Get Started</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<h2>Looking to Hire?</h2>
			<p>
				At WHO…a staffing company, it is our goal to form deep and trusted partner relationships with each and every client. It is our belief that to truly represent you in the marketplace, and to identify and attract the right-fit resource for your organization, we must first understand what it is that makes your company special, and what it takes to be a successful contributor to your team. Please give us a call at (410) 680-8855 or send an email to <a href="mailto:info@whostaffing.com">info@WHOstaffing.com</a> to learn how we can best serve your company’s employment needs.
			</p>
		</div>
	</div>
</div>
<script type="text/javascript">
	// initialize work with us modal
	if ($(window).width() < 768) {
		$('#modWorkWithUs').jqm({
			overlayClass: 'csi-modal-overlay',
			modal: false,
			trigger: 'a.csi-modal-show-workwithus',
			onShow: function(hash) {
				// display the overlay and modal
				if (hash.c.overlay > 0) {
					hash.o.prependTo('body');
				}
				hash.w.show();

				// hide the page content
				$('div.csi-page-container').hide();

				return true;
			},
			onHide: function(hash) {
				// hide the modal
				hash.w.hide() && hash.o && hash.o.remove();

				// show the page content
				$('div.csi-page-container').show();

				return true;
			}
		});
	}
	else {
		$('#modWorkWithUs').jqm({
			overlayClass: 'csi-modal-overlay',
			modal: false,
			trigger: 'a.csi-modal-show-workwithus',
			onShow: function(hash) {
				// calculate the position
				var offset = Math.max(parseInt($(window).height() / 2) - parseInt(hash.w.height() / 2), 20);
				var cssTop = ($('body').scrollTop() + offset).toString() + 'px';
				hash.w.css('top', cssTop);

				// display the overlay and modal
				if (hash.c.overlay > 0) {
					hash.o.prependTo('body');
				}
				hash.w.show();

				return true;
			}
		});
	}
</script>
