/* 
 * tablet and phone
 * ----------------------------------------------------------------------------
 */
@media (max-width: 991px) {

	div.csi-page-container
	{
		margin: 0;
	}

	/*div.csi-navbar*/ div.csi-navbar-mobile
	{
		background: url('../img/who-logo-mobile.png') no-repeat left top;
		color: #ffffff;
		height: 7em;
	}

		/*div.csi-navbar*/ div.csi-navbar-mobile > span
		{
			color: #ffffff;
			font-size: 3em;
			margin-top: 0.6em;
		}

	#contentpane-howdifferent p.csi-overview
	{
		font-size: 1.2em;
		line-height: 1.9em;
	}

		#contentpane-howdifferent p.csi-overview span.csi-leadin
		{
			font-weight: 700;
		}
}

/* 
 * tablet
 * ----------------------------------------------------------------------------
 */
@media (min-width: 768px) and (max-width: 991px) {

	#glorypane-whomatters div.csi-glorypane-tab-container
	{
		margin-top: 12em;
	}

	#glorypane-howdifferent
	{
		background-position: top center;
		height: 36em;
	}

	#contentpane-howdifferent
	{
		margin-top: 1em;
	}

	div.csi-testimonial-container div.csi-testimonial-navleft
	{
		width: 10%;
	}

		div.csi-testimonial-container div.csi-testimonial-navleft a
		{
			margin-left: -5px;
		}

	div.csi-testimonial-container div.csi-testimonial-navright
	{
		width: 10%;
	}

		div.csi-testimonial-container div.csi-testimonial-navright a
		{
			margin-right: -5px;
		}

	div.csi-testimonial-container div.csi-testimonial-content
	{
		width: 80%;
	}

	div.csi-yearbook-portrait
	{
		width: 178px;
	}

	div.csi-footer div.csi-footer-title
	{
		float: none;
		margin: 0 0 2em 0;
		text-align: center;
	}
}

/* 
 * phone
 * ----------------------------------------------------------------------------
 */
@media (max-width: 767px) {
	#mobileMenu
	{
		background-color: transparent;
		border: 0px;
		left: 0px;
		margin: 0px;
		padding: 0px;
		top: 0px;
		width: 100%;
	}

	div.csi-mobilemenu-content
	{
		background-color: transparent;
		font-family: 'Abel', sans-serif;
		padding-top: 1em;
	}

		div.csi-mobilemenu-content > div
		{
			background-color: transparent;
			margin-top: 1em;
			text-align: center;
		}

		div.csi-mobilemenu-content a,
		div.csi-mobilemenu-content a:visited
		{
			color: #e1cc7c;
			font-size: 3em;
			text-decoration: none;
		}

	div.csi-glorypane
	{
		padding: 2em 2em 0px 2em;
	}

		div.csi-glorypane h1
		{
			font-size: 7em;
			line-height: 0.9em;
			margin-left: 0.1em;
		}

	#glorypane-whomatters
	{
		background-position: right;
		padding-top: 12em;
	}

	#glorypane-howdifferent
	{
		background-position: top center;
		height: 16em;
	}

	div.csi-navtabs
	{
		margin-top: 1em;
	}

		div.csi-navtabs a
		{
			background-color: #e1cc7c;
			color: #967e22;
			display: inline-block;
			float: left;
			font-family: 'Abel', sans-serif;
			font-size: 1.7em;
			font-weight: 400;
			/*margin-right: 0.2em;*/
			padding: 0.2em 0px 0.2em 0px;
			text-align: center;
			text-decoration: none;
			width: 48%;
		}

		div.csi-navtabs a:last-child
		{
			float: right;
		}

		div.csi-navtabs a:hover
		{
			background-color: #dac160;
		}

		div.csi-navtabs div:last-child
		{
			clear: both;
		}

	div.csi-contentpane h2
	{
		margin-bottom: 1em;
		text-align: center;
	}

	div.csi-contentpane p
	{
		line-height: 1.6em;
	}

	div.csi-contentpane p.csi-overview
	{
		line-height: 1.5em;
	}

	#contentpane-whomatters
	{
		padding-top: 1em;
	}

	#contentpane-howdifferent
	{
		margin-top: 0;
	}

	#highlightpane-testimonial
	{
		margin-top: 1em;
	}

	div.csi-testimonial-container div.csi-testimonial-navleft
	{
		width: 1%;
	}

		div.csi-testimonial-container div.csi-testimonial-navleft a
		{
			margin-left: -10px;
		}

	div.csi-testimonial-container div.csi-testimonial-navright
	{
		width: 1%;
	}

		div.csi-testimonial-container div.csi-testimonial-navright a
		{
			margin-right: -10px;
		}

	div.csi-testimonial-container div.csi-testimonial-content
	{
		width: 98%;
	}

	div.csi-testimonial-quote
	{
		font-size: 2em;
	}

	div.csi-testimonial-author
	{
		margin-top: 2em;
	}

	#highlightpane-whoweare h2
	{
		margin: 0 0 2em 0;
	}

	div.csi-footer
	{
		margin-top: 0;
	}

		div.csi-footer div.csi-footer-title
		{
			float: none;
			margin: 0 0 1em 0;
			text-align: center;
		}

		div.csi-footer div.csi-navtabs a
		{
			background-color: #967e22;
			color: #ffffff;
		}

	div.csi-contentpane h2.csi-job-list-title
	{
		text-align: left;
	}

	div.csi-job div.csi-job-headercontainer h2
	{
		margin-bottom: 0px;
		text-align: left;
	}

	#jobList div.csi-job div.csi-job-action a
	{
		float: left;
		width: 48%;
	}

	#jobList div.csi-job div.csi-job-action a:last-child
	{
		float: right;
	}

	div.csi-yearbook-mobile
	{
		display: table;
		width: 100%;
	}

		div.csi-yearbook-mobile > div
		{
			display: table-cell;
		}

		div.csi-yearbook-mobile div.csi-yearbook-mobile-navleft
		{
			text-align: left;
			vertical-align: middle;
			width: 1%;
		}

			div.csi-yearbook-mobile div.csi-yearbook-mobile-navleft a
			{
				margin-left: -10px;
			}

		div.csi-yearbook-mobile div.csi-yearbook-mobile-navright
		{
			text-align: right;
			vertical-align: middle;
			width: 1%;
		}

			div.csi-yearbook-mobile div.csi-yearbook-mobile-navright a
			{
				margin-right: -10px;
			}

		div.csi-yearbook-mobile div.csi-yearbook-mobile-content
		{
			text-align: center;
			width: 98%;
		}

		div.csi-yearbook-mobile div.csi-yearbook-portrait
		{
			display: inline-block;
			float: none;
		}

		div.csi-yearbook-page h3
		{
			color: #ffffff;
			font-size: 1.25em;
			text-transform: uppercase;
		}

	div.csi-modal
	{
		border: 0px;
		height: 100%;
		left: 0px;
		margin: 0px;
		padding: 0px;
		position: relative;
		top: 0px;
		width: 100%;
	}

		div.csi-modal p
		{
			font-size: 1.2em;
			line-height: 1.8em;
		}
}
