

@font-face {
  font-family: 'Clarendon Bold';
  src: url('/assets/fonts/Clarendon-Bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Clarendon-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Clarendon-Bold-webfont.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Clarendon-Bold-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */

       /* url('/.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Clarendon Medium';
  src: url('/assets/fonts/Clarendon-Medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Clarendon-Medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Clarendon-Medium-webfont.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Clarendon-Medium-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */

       /* url('../.svg#svgFontName') format('svg'); /* Legacy iOS */
}



html, body {
  background-color: #F5F5F5;
  font: normal 100%/150% "Arimo", sans-serif;
  color: #111;
}
div.csi-clearfloat {
  clear: both;
}
div.csi-page-container {
  margin: 1.2em;
}
a.csi-anchor {}

/*
 * Navigation bar
 * ----------------------------------------------------------------------------
 */

div.csi-navbar {
  background-color: #231f20;
  padding: 0.5em 3em 0.5em 0.4em;
  text-align: right;
  text-transform: uppercase;
}
div.csi-navbar a, div.csi-navbar a:visited {
  color: #bebebe;
  padding-right: 1.8em;
  text-decoration: none;
}
div.csi-navbar a.csi-highlight, div.csi-navbar a:visited.csi-highlight {
  color: #e6cf83;
}
div.csi-navbar a:hover {
  color: #ffffff;
  text-decoration: none;
}
: div.csi-navbar a:hover.csi-highlight {
  color: #e6cf83;
  text-decoration: underline;
}
div.csi-navbar a span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}
div.csi-navbar span.csi-separator {
  border-right: 0.1em solid #bebebe;
  display: inline-block;
  font-weight: 400;
  margin-right: 1.8em;
}
div.csi-navbar-title {
  /*background-color: #808080;*/
  /*color: #ffffff;*/
  font-family: 'Abel', sans-serif;
  padding: 1em 0 1em 0;
}
div.csi-navbar-title div.csi-navbar-title-content {
  display: table;
  width: 100%;
}
div.csi-navbar-title div.csi-navbar-title-content div.csi-navbar-title-logo {
  display: table-cell;
  height: 13em;
  vertical-align: top;
  width: 136px;
}
div.csi-navbar-title div.csi-navbar-title-content div.csi-navbar-title-text {
  display: table-cell;
  vertical-align: middle;
}
div.csi-navbar-title div.csi-navbar-title-content div.csi-navbar-title-text span {
  font-size: 7em;
  margin-left: 0.2em;
  text-transform: uppercase;
}
div.csi-navbar-title img {
  /*height: 105px;*/
  width: 15vmax;
}
#topNavBar {
  z-index: 1000;
}

/*
 * Glory panes
 * ----------------------------------------------------------------------------
 */

div.csi-glorypane {
  background-attachment: top;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  padding: 6em 6em 0px 6em;
}
div.csi-glorypane h1 {
  font-family: 'Abel', sans-serif;
  font-size: 7.2em;
  font-weight: 400;
  margin-bottom: 0px;
  margin-left: -0.05em;
  margin-top: 0.1em;
  text-transform: uppercase;
}
div.csi-glorypane div.csi-glorypane-tab-container {
  text-align: center;
}
div.csi-glorypane div.csi-glorypane-tab-container a.csi-tab {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  border-bottom: 0px;
  color: #000000;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6em;
  font-weight: 700;
  padding: 1.4em 0px 1.4em 0px;
  text-transform: uppercase;
  width: 16em;
}
div.csi-glorypane div.csi-glorypane-tab-container a:hover.csi-tab {
  background-color: #ffffff;
}
#glorypane-whomatters {
  background-image: url('../img/bg-glory-whomatters.jpg');
  padding-top: 4em;
}
#glorypane-whomatters p {
  font-size: 3em;
  line-height: 1.2em;
  width: 22em;
}
#glorypane-whomatters div.csi-glorypane-tab-container {
  margin-top: 27.5em;
}
#glorypane-howdifferent {
  background-image: url('../img/bg-glory-different.jpg');
  height: 50em;
}

/*
  * Nav panes
  * ---------------------------------------------------------------------------
  */

div.csi-navpane {
  padding: 1.6em 0px 0em 0px;
  text-align: center;
}

/*
  * Content panes
  * ---------------------------------------------------------------------------
  */

div.csi-contentpane {
  /*font-family: 'Ubuntu', sans-serif;*/
  /*font-weight: 500;*/
  padding: 2em 0px 2em 0px;
}
div.csi-contentpane h2 {
  color: #7f7f7f;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 2em;
  text-transform: uppercase;
}
div.csi-contentpane h2 span.glyphicon {
  top: 2px;
}
div.csi-contentpane h2 a {
  color: #7f7f7f;
  text-decoration: none;
}
div.csi-contentpane p {
  /*font-size: 1.2em;
  line-height: 1.9em;*/
}
div.csi-contentpane p.csi-overview {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2.3em;
}
div.csi-contentpane p.csi-overview span.csi-leadin {
  font-size: 1.1em;
  font-weight: 500;
  /*700*/
  text-transform: uppercase;
}
div.csi-contentpane div.csi-ourservices-column h2 {
  margin: 1em 0px 0.4em 0px;
}
#contentpane-whomatters {
  padding-top: 3em;
}
#contentpane-howdifferent {
  margin-top: 2em;
}
#contentpane-howdifferent h2 {
  text-align: center;
}
#contentpane-ourservices {
  margin-top: 2em;
}
#contentpane-ourservices a {
  color: #84763f;
  text-decoration: underline;
  text-transform: uppercase;
}

/*
  * Highlight panes
  * ---------------------------------------------------------------------------
  */

div.csi-highlightpane {
  background-color: #3b3537;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding: 4.2em 0px 4.2em 0px;
}
div.csi-highlightpane h2 {
  color: #7f7f7f;
  font-size: 1.25em;
  font-weight: 700;
  margin: 1em 0px 3em 0px;
  text-align: center;
  text-transform: uppercase;
}
#highlightpane-testimonial {
  margin-top: 4em;
}
#highlightpane-whoweare {
  margin-top: 2em;
  padding-bottom: 4em;
}

/*
  * Footer
  * ---------------------------------------------------------------------------
  */

div.csi-footer {
  background-color: #FFF;
  /*color: #84763f;*/
  /*font-family: 'Ubuntu', sans-serif;*/
  font-weight: 500;
  margin-top: 5em;
  padding: 4em 0px 3em 0px;
}
div.csi-footer div.csi-footer-title {
  font-family: "Clarendon Medium", serif;
  float: left;
  font-size: 1.4em;
  margin-left: 4em;
  text-transform: uppercase;
}
div.csi-footer p {
  font-size: 1.3em;
  line-height: 1.4em;
}
div.csi-footer p a {
  color: #00b38f;
  text-decoration: underline;
}
div.csi-footer p a:hover {
  color: #111;
}

/*
  * Logo
  * ---------------------------------------------------------------------------
  */

div.csi-logo {
  display: inline-block;
}

/*
 * Jobs
 * ----------------------------------------------------------------------------
 */

div.csi-job h2 {
  color: #4F7482;
  font-family: "Clarendon Medium", serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  padding-bottom: .5em;
  margin-top: 2em;
  margin-bottom: .6em;
  border-bottom: 1px solid rgb(233, 233, 233);
}
div.csi-job h3 {
  font-family: "Clarendon Medium", serif;
  font-size: 1.5em;
  font-weight: 500;
  /*400;*/
  margin: 0.3em 0px 0.4em 0px;
}
div.csi-job h4 {
  color: #111;
  /*font-size: 1.3em;*/
  /*margin: 2em 0 0.2em 0;*/
  margin-top: 1.5em;
  text-transform: uppercase;
}
div.csi-job p {
  /*color: #908e8e;*/
}
div.csi-job ul {
  color: #908e8e;
  font-size: 1.2em;
  line-height: 1.9em;
  padding-left: 0;
}
div.csi-job ul li {
  margin-left: 1.4em;
}
div.csi-job .csi-job-headercontainer {
  border-bottom: 1px solid #e9e9e9;
  display: table;
  font-family: 'Abel', sans-serif;
  font-weight: 700;
  padding-bottom: 0.5em;
  width: 100%;
  margin-bottom: 1.5em;
}
div.csi-job div.csi-job-headercontainer > div {
  display: table-cell;
}
div.csi-job div.csi-job-headercontainer > div:last-child {
  text-align: right;
  /*width: 20%;*/
}
.csi-job-listdate {
  color: #908e8e;
}
div.csi-job div.csi-job-headercontainer span.csi-job-listdate-date {
  border-right: 2px solid #e9e9e9;
  color: #d5d4d4;
  display: inline-block;
  font-size: 3em;
  line-height: 0.8em;
  padding: 0.2em 0.2em 0 0;
  text-transform: uppercase;
}
div.csi-job div.csi-job-headercontainer span.csi-job-listdate-monthyear {
  color: #d5d4d4;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.2em;
  padding-left: 0.2em;
  text-align: left;
  text-transform: uppercase;
}
div.csi-job div.csi-job-action {
  margin-top: 2em;
}
div.csi-job div.csi-job-action a {
  /*background-color: #e1cc7c;
  color: #967e22;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  margin-right: 0.2em;
  padding: 0.2em 0px 0.2em 0px;
  text-align: center;
  text-decoration: none;*/
  display: inline-block;
  min-width: 150px;
  background: #FFF;
  padding: 5px;
  margin: 5px 5px 5px 0;
  text-align: center;
  color: #00b38f;
  text-decoration: underline;
}
div.csi-job div.csi-job-action a:hover {
  /*background-color: #dac160;*/
  color: #111;
}

p.perfect-role a {
  color: #00b38f;
  text-decoration: underline;
}

p.perfect-role a:hover {
  color: #111;
}

/* featured posting */

div.csi-job.featured div.csi-job-action a {
  float: left;
  width: 48%;
}
div.csi-job.featured div.csi-job-action a:last-child {
  float: right;
}

/* job list */

#jobList div.csi-job {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 4em;
  padding-bottom: 2em;
}
#jobList div.csi-job:last-child {
  margin-bottom: 2em;
}
div.csi-job h4 {
  color: #908e8e;
}
#jobList div.csi-job div.csi-job-action a {
  /*width: 9em;*/
}

/* job filters */

ul.csi-job-filters {
  /*color: #967e22;*/
  margin-top: 4em;
  padding-left: 0;
  list-style: none;
}
ul.csi-job-filters li {
  font-size: 1em;
  /*line-height: 1.9em;*/
  margin-left: 0;
}
ul.csi-job-filters li.selected {
  font-weight: 700;
}
ul.csi-job-filters li a, ul.csi-job-filters li a:visited {
  color: #00b38f;
  text-decoration: underline;
  background: #FFF;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
}
ul.csi-job-filters li a:hover {
  color: #111;
}

/* job pager */

div.csi-job-pager {
  color: #000000;
  text-align: right;
}
div.csi-job-pager > span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin-right: 0.5em;
}
div.csi-job-pager a {
  background-color: #00b38f;
  color: #FFF;
  display: inline-block;
  margin-left: 0.3em;
  padding: 10px;
  line-height: 1;
}
div.csi-job-pager a:hover {
  background-color: #111;
}
div.csi-job-pager a.disabled {
  background-color: #bebebe;
  color: #ffffff;
}
div.csi-job-pager a span {
  font-size: 1.3em;
}

/*
 * Testimonials
 * ----------------------------------------------------------------------------
 */

div.csi-testimonial-container {
  display: table;
  width: 100%;
}
div.csi-testimonial-container div.csi-testimonial-cell {
  display: table-cell;
}
div.csi-testimonial-container div.csi-testimonial-navleft {
  text-align: left;
  vertical-align: middle;
  width: 25%;
}
div.csi-testimonial-container div.csi-testimonial-navleft a {
  margin-left: -29px;
}
div.csi-testimonial-container div.csi-testimonial-navright {
  text-align: right;
  vertical-align: middle;
  width: 25%;
}
div.csi-testimonial-container div.csi-testimonial-navright a {
  margin-right: -29px;
}
div.csi-testimonial-container div.csi-testimonial-content {
  width: 50%;
}
div.csi-testimonial-quote {
  color: #ffffff;
  font-family: 'Abel', sans-serif;
  font-size: 4em;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
}
div.csi-testimonial-author {
  color: #787374;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 4em;
  text-align: center;
  text-transform: uppercase;
}

/*
 * Yearbook
 * ----------------------------------------------------------------------------
 */

div.csi-yearbook-portrait {
  background-attachment: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #ffffff;
  float: left;
  height: 155px;
  margin: 1px;
  width: 179px;
}
div.csi-yearbook-portrait.hover {
  border: 2px solid #967e22;
}
div.csi-yearbook-portrait.dim {
  opacity: 0.35;
}

/*div.csi-yearbook-portrait.portrait1
{
	background-image: url('../img/sample-headshot-1.png');
}

div.csi-yearbook-portrait.portrait2
{
	background-image: url('../img/sample-headshot-2.png');
}

div.csi-yearbook-portrait.portrait3
{
	background-image: url('../img/sample-headshot-3.png');
}

div.csi-yearbook-portrait.portrait4
{
	background-image: url('../img/sample-headshot-4.png');
}

div.csi-yearbook-portrait.portrait5
{
	background-image: url('../img/sample-headshot-1.png');
}*/

div.csi-yearbook-portrait.portrait-amanda {
  background-image: url('../img/team_amanda.jpg');
}
div.csi-yearbook-portrait.portrait-chris {
  background-image: url('../img/team_chris.jpg');
}
div.csi-yearbook-portrait.portrait-donald {
  background-image: url('../img/team_donald.jpg');
}
div.csi-yearbook-portrait.portrait-gary {
  background-image: url('../img/team_gary.jpg');
}
div.csi-yearbook-portrait.portrait-martina {
  background-image: url('../img/team_martina.jpg');
}
div.csi-yearbook-portrait.portrait-tim {
  background-image: url('../img/team_tim.jpg');
}
div.csi-yearbook-page {
  color: #7f7f7f;
  display: none;
  margin-top: 2em;
}
div.csi-yearbook-page p,
/*div.csi-yearbook-page span,*/

div.csi-yearbook-page a {
  font-size: 1.2em;
  line-height: 1.9em;
}
div.csi-yearbook-page div.csi-yearbook-title {
  margin-bottom: 2em;
}
div.csi-yearbook-page div.csi-yearbook-title h3 {
  color: #ffffff;
  display: inline;
  font-size: 1.25em;
  text-transform: uppercase;
}
div.csi-yearbook-page div.csi-yearbook-title span, div.csi-yearbook-page div.csi-yearbook-title a {
  font-size: 1.25em;
}
div.csi-yearbook-page div.csi-yearbook-title a, div.csi-yearbook-page div.csi-yearbook-title a:visited {
  color: #7f7f7f;
  text-decoration: underline;
}
div.csi-yearbook-page span.csi-yearbook-separator {
  padding: 0.7em;
}
div.csi-yearbook-page span.csi-yearbook-fact-value {
  color: #ffffff;
}

/*
 * Modals
 * ----------------------------------------------------------------------------
 */

div.csi-modal-overlay {
  background-color: transparent;
}
div.csi-modal {
  background-color: #231f20;
  border: 12px solid #090502;
  color: #ffffff;
  display: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  left: 50%;
  position: fixed;
  top: 17%;
}
@media (min-width: 768px) {
  div.csi-modal {
    margin-left: -375px;
    position: absolute;
  }
}
@media (min-width: 992px) {
  div.csi-modal {
    margin-left: -485px;
  }
}
@media (min-width: 1200px) {
  div.csi-modal {
    margin-left: -585px;
  }
}
div.csi-modal a.csi-modal-closebutton {
  color: #ffffff;
  display: inline-block;
  float: right;
  font-size: 1.2em;
  margin: 1em 0 0 0;
}
div.csi-modal h2 {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 3em;
  text-align: center;
  text-transform: uppercase;
}
div.csi-modal p {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2.3em;
}
div.csi-modal div.csi-job-action {
  text-align: center;
}
div.csi-modal div.csi-job-action a {
  background-color: #e1cc7c;
  color: #967e22;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  margin-bottom: 1.2em;
  padding: 0.2em 0px 0.2em 0px;
  text-align: center;
  text-decoration: none;
  width: 8em;
}
div.csi-modal div.csi-job-action a:hover {
  background-color: #dac160;
}
div.csi-modal-workwithus {
  padding-bottom: 3em;
}
div.csi-modal-workwithus div.row {
  margin-top: 3em;
}
div.csi-modal-workwithus div.row:first {
  margin-top: 2em;
}
div.csi-modal-separator {
  border-bottom: 1px solid #535152;
}
