---
layout: default
---

{% comment %}

use permalink to dynamically generate bio page content


{% assign name = page.name | remove: '.html' | remove: '.md' %}

{% case name %}
  {% when 'gary' %}
    {% assign members = (site.data.team | where:"name","Gary Ditto") %}
  {% when 'donald' %}
    {% assign members = (site.data.team | where:"name","Donald Coleman") %}
  {% when 'martina' %}
    {% assign members = (site.data.team | where:"name","Martina Kristianova") %}
  {% when 'tim' %}
    {% assign members = (site.data.team | where:"name","Tim Dodson") %}
  {% when 'chris' %}
    {% assign members = (site.data.team | where:"name","Chris Lillemoe") %}
  {% else %}
{% endcase %}

{% endcomment %}

{% for member in members %}

<!-- <div id="stage">
  <div class="hero">
    <h2>{{ member.quote }}</h2>
  </div>
</div>
<figure class="slumber">
  <img src="/assets/img/bio/{{ member.large_image }}" alt="{{ member.name }}, {{ member.title }}">
</figure>
<div class="bio-container">
  <div class="social">
    <h2>{{ member.name }}</h2>
    <h3>{{ member.title }}</h3>
    <ul>
      {% if member.linkedin %}
        <li>
          {% include icon.html icon="linkedin" url=member.linkedin %}
        </li>
      {% endif %}
      {% if member.twitter %}
        <li>
          {% include icon.html icon="twitter" url=member.twitter %}
        </li>
      {% endif %}
      {% if member.email %}
        <li>
          {% include icon.html icon="envelope" url=member.email %}
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="bio">
    <p>{{ member.bio.p1 }}</p>
    <p>{{ member.bio.p2 }}</p>
  </div>
</div>
{% endfor %} -->
