<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WHO... a staffing company | Gigs</title>
    <link href="/gigs/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/gigs/assets/css" rel="stylesheet" type="text/css">
    <link href="/gigs/assets/jqModal.css" rel="stylesheet">
    <link href="/gigs/assets/new.css" rel="stylesheet">
    <link href="/gigs/assets/core-mobile.css" rel="stylesheet">
    <script type="text/javascript" src="/gigs/assets/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/gigs/assets/jqModal.js"></script>
    <script type="text/javascript" src="/gigs/assets/jquery.sticky-kit.min.js"></script>
    <script type="text/javascript" src="/gigs/assets/core.js"></script>
    <style type="text/css"></style>
  </head>

  <body>
    {{ content }}
  </body>

</html>
